//colors
primary = #70B85D
secondary = #54D0ED
accent = #2C5E2E
dark = #0C273D

menu
	padding 0

.logo
	height 75px
	transition 0.5s

.chrome
	margin-top 20px
	transition 0.5s
		
.header
	margin-top 20px
	height 100px
	border-bottom 1px solid dark
	transition 0.5s

.welcome
	font-family: 'Lato', sans-serif;
	text-align center
	margin-top 1em
	transition 0.5s
	
.icons
	margin-top 40px
	transition 0.5s
	
.book
	font-weight 400


//animations 
.isort1
	animation-delay .8s
.isort2
	animation-delay .9s
.isort3
	animation-delay 1s
.ui-view
	animation-delay .8s	
	
.video
	animation-delay .4s


// icons
.fa-folder-open-o
	font-size 5em	
.fa-connectdevelop	
	font-size 5em
.fa-search
	font-size 5em	
	


footer
	text-align center
	margin-top 40px
	// padding 20px
	border-top 1px solid dark

//media
@media (max-width: 550px) 
	.header
		padding 0
	.logo
		height 50px
		margin-top 20px 
	.icons
		text-align center
	.chrome
		margin-top 25px 
		padding 1px 10px
		






